.border-input {
    margin-top: 100px;
    border: solid 1px;
    background-color: #e1e1e162;
    padding: 30px 30px 60px 30px;
}

.btn {
    border-radius: 16px;
    background-color: #ffffff;
    float: right;

}

.container {
    width: 500px;
}